<!DOCTYPE html>
<html>
  <head>
    <title>Etherfoot</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
      @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
    </style>
  </head>
  <body>
    <div class="content">
      <h1>Etherfoot</h1>

      <h3>Create players</h3>

      <div class="creator">
        <form name="creator-form" method="post">
          <div class = "creator-row">
            <div class="creator-row-top">            
              <div class="input-container" style="flex: 0.4; margin-right: 5px;">
                <input type="text" name="name" placeholder="Nome">
              </div>
              <div class="input-container" style="flex: 0.1; margin-right: 5px;">
                <input type="text" name="pos" placeholder="Pos.">
              </div>
              <div class="input-container" style="flex: 0.1;">
                  <input type="text" name="overall" placeholder="Qualidade">
              </div>
              <div class="create-btn-container">
                <button class="create-btn" style = "width: 95px;">Criar</button>
              </div>
            </div>

            <div class="creator-row-bottom"></div>
          </div>
        <form>
    </div>
  </body>
  
</html>
