<!DOCTYPE html>
<html>
  <head>
    <title>Etherfoot - Players</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
      @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
    </style>
  </head>
  <body>
    <div class="content">
      <a style="text-decoration: none;" href="/"><h1 class="title">Etherfoot</h1></a>

      <h3 class="section-title">Create players</h3>

      <div class="creator">
        <form autocomplete="off" name="creator-form" method="post">
          <div class = "creator-row">
            <div class="creator-row-top">            
              <div class="input-container" style="flex: 0.4; margin-right: 5px;">
                <input data-lpignore="true" type="text" name="name" placeholder="Nome">
              </div>
              <div class="input-container" style="flex: 0.1; margin-right: 5px;">
                <input data-lpignore="true" type="text" name="pos" placeholder="Pos.">
              </div>
              <div class="input-container" style="flex: 0.1;">
                  <input data-lpignore="true" type="text" name="overall" placeholder="Qualidade">
              </div>
              <div class="create-btn-container">
                <button class="create-btn" style = "width: 95px;">Criar</button>
              </div>
            </div>

            <div class="creator-row-bottom"></div>
          </div>
        <form>
      </div>

      <h3 class="section-title">Players</h3>

      <ul class="player-list">
        <% players.forEach((player, index) => { %>
          <li class="player-list-item"><span class="player-ovr"><%=player.overall%></span> <%=player.name%> <%=player.position%>
            <span>
              <%if(player.listed) {%>
                <button class="unlist-btn">Unlist</button>
              <% } else {%>
                <button class="list-btn">List</button>
              <% } %>
            </span>
          </li>
        <% }) %>
      </ul>

      <h5 style="color: #000;">Squad value: <%=squad_value %> ETH</h5>

    </div>

    <script>
      $( document ).ready(function() {
        $(".list-btn").click(async function() {
          await fetch(`/list_player/${$(".list-btn").index(this)}`, {
            method: 'post'
          })
        })

        $(".unlist-btn").click(async function() {
          await fetch(`/unlist_player/${$(".unlist-btn").index(this)}`, {
            method: 'post'
          })
        })
      });
    </script>
  </body>
</html>
