<!DOCTYPE html>
<html>
  <head>
    <title>Etherfoot - Players</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
      @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
    </style>
  </head>
  <body>
    <div class="content">
      <h1 class="title">Etherfoot</h1>

      <h3>Players</h3>

      <ul class="player-list">
        <% players.forEach((player) => {
          %>
          <li class="player-list-item"><span class="player-ovr"><%=player.overall%></span> <%=player.name%> <%=player.position%></li>
          <%
        }) %>
      </ul>

    </div>
  </body>
  
</html>
